<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoom Clone</title>
</head>
<body>
    HI! This is Home
    <button>
     <a href="/new-meeting">New Meeting</a>
    </button>
    <input type="text" placeholder="Enter Code Here">
    <button>
        Join
    </button>
</body>
</html>